 * {
     margin: 0;
     padding: 0;
 }

 @font-face {
     font-family: 'IBM-Plex-sans';
     src: url(/Fonts/IBMPlexSans-Medium.ttf);
     font-style: normal;
 }

 @font-face {
     font-family: 'IBM-Plex-sans';
     src: url(/Fonts/IBMPlexSans-Regular.ttf);
     font-style: normal;
 }

 @font-face {
     font-family: 'IBM-Plex-sans';
     src: url(/Fonts/IBMPlexSans-SemiBold.ttf);
     font-style: normal;
 }

 @font-face {
     font-family: 'IBM-Plex-sans';
     src: url(/Fonts/IBMPlexSans-Thin.ttf);
     font-style: normal;
 }

 @font-face {
     font-family: 'IBM-Plex-sans';
     src: url(/Fonts/IBMPlexSans-Bold.ttf);
     font-style: normal;
 }

 @font-face {
     font-family: 'IBM-Plex-sans';
     src: url(/Fonts/IBMPlexSans-Light.ttf);
     font-style: normal;
 }

 head,
 body {
     font-family: 'IBM-Plex-sans';
 }

 .text2 {
     color: white;
 }

 .head2 {
     background: url(photos/back.png) no-repeat center/cover;
     position: relative;
     height: 500px;
     margin-bottom: 150px;
 }

 .head1 {
     display: inline-block;
     padding: 0 10px;
     text-align: top;
 }

 .menu {
     margin-left: 80px;
 }

 .link {
     margin-right: 20px;
 }

 .nav__box {
     margin-left: 50px;
 }

 .welcome {
     border: 1px solid white;
     width: 330px;
     background: white;
     text-align: center;
     margin-left: 900px;
     color: white;
     position: absolute;
     bottom: -50px;
     color: black;
     right: 50px;
     border-radius: 10%;
 }

 .box1 {
     margin-top: 50px;
     display: inline-block;
     width: 30%;
     text-align: center;
     margin: 10px 10px 10px;
 }

 .button {
     background-color: #a3cc40;
     color: white;
 }

 .card {
     width: 245px;
     height: 331px;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

 .card__img {
     width: 100%;
     height: 100%;
 }

 .card__box {
     margin: 55px;
     margin-left: 5px;
 }

 .card__hover {
     position: absolute;
     color: white;
     font-size: 20px;
     font-weight: 600;
     background: rgba(163, 204, 64, 0.8);
     clip-path: polygon(0 43%, 100% 0, 100% 100%, 0% 100%);
     width: 98%;
     padding-top: 100px;
     height: 153px;
     overflow: hidden;
     border-radius: 10px;
     bottom: 7px;
     text-align: center;
 }

 .comment {
     resize: none;
 }

 .main__center {
     border: none;
     text-align: center;
     text-align: end;
     background: url(photos/7s.png) no-repeat center/cover;
     position: relative;
     height: 400px;
     color: white;
     padding-top: 100px;
     margin-top: 150px;
     padding-right: 50px;
 }

 .podarok {
     position: absolute;
     left: 50px;
     top: -120px;
     border-radius: 100%;
 }

 .card10 {
     display: flex;
     width: 30%;
     margin: 20px;
 }

 .Reviews {
     background: url(photos/Group\ 29) no-repeat center/cover;
     margin-top: 150px;
     justify-content: center;
     border: none;
     height: 792px;
     left: 0;
     margin: 0;
     padding: 0;
     top: 4539px;
     color: white;
 }

 .boxx {
     display: flex;
 }

 .boxx__1 {
     width: 20%;
     background-color: yellowgreen;
     color: white;
     border-radius: 9px;
     margin: 50px;
     margin-left: 141px;
 }

 .boxx__1 img {
     width: 100%;
 }

 .head11 {
     background: url(photos/green.png);
     padding: 5%;
     margin: 5%;
 }

 .box0 {
     display: flex;
 }

 .contact_logo {
     width: 30%;
     color: white;
 }

 .form_s {
     border: none;
     width: 767px;
     height: 527px;
     margin: 43px 183px 61px 174px;
     border-radius: 20px;
     display: flex;
     box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.37);
 }

 .form_s img {
     margin-left: 27px;
 }

 .img-back {
     background: url(photos/krists-luhaers-AtPWnYNDJnM-unsplash.png);
     width: 414px;
     height: 527px;
     border-radius: 20px;
 }

 .tx_form {
     font-size: 25px;
     color: #A3CC40;
     text-align: center;
     width: 350px;
     margin-top: 31px;
 }

 .p_form {
     margin-left: -27px;
 }

 .full_name {
     color: #A1A1A1;
     width: 314px;
     height: 40px;
     outline: none;
     background: #DEDEDE;
     border: none;
     border-radius: 5px;
     padding-left: 15.56px;
     padding-right: 15px;
     margin-top: 20px;
 }

 .option_f {
     width: 344px;
     height: 40px;
     padding-left: 15.56px;
     border: none;
     color: #A1A1A1;
     background: #DEDEDE;
     border-radius: 5px;
     margin-top: 33px;
     outline: none;
 }

 .full_name2 {
     color: #A1A1A1;
     width: 314px;
     height: 40px;
     outline: none;
     background: #DEDEDE;
     border: none;
     border-radius: 5px;
     padding-left: 15.56px;
     padding-right: 15px;
     padding-bottom: 87px;
     margin-top: 30px;
     display: flex;
     align-items: flex-start;
 }

 .chek {
     display: flex;
     margin-top: 28px;
 }

 .chek {
     margin-left: 6px;
     font-size: 10px;
     counter-reset: #333333;
 }

 .bt1 {
     border: none;
     padding: 15.87px 30.92px 15.13px 32.59px;
     width: 280.49px;
     height: 57px;
     border-radius: 6px;
     color: white;
     background-color: #A3CC40;
     font-size: 20px;
     margin-top: 46px;
 }

 .table_header {
     border-radius: 10px;
     background: #373737ce;
     width: 849px;
     margin: 50px 50px 50px 50px;
     font-size: 14px;
 }

 .table_header tr {
     height: 30px;
 }

 .janr {
     text-align: start;
 }

 .name_film {
     text-align: start;
 }

 .Session  {
     text-align: start;
 }

 .head_tr {
     background: #A3CC40;
     color: white;
     border: none;
     font-size: 20px;
     font-weight: 600px;
 }

 .head_tr a {
     color: white;
     text-decoration: none;
     vertical-align: top;
 }

 #table {
     width: 80%;
     margin: auto;
     border-radius: 10px;
     overflow: hidden;
     color: white;
     border-collapse: collapse;
 }

.two {
     background-color: #6c6c6c;
     font-size: 14px;
 }

 #table tr {
     height: 50px;
 }

 .one {
     background-color: #4D4C4F;
     font-size: 14PX;
 }

 #table th {
     background-color: #A3CC40;
     color: white;
     font-size: 20px;
     font-weight: 600;
 }

 .check {
     width: 80px;
     text-align: center;
 }

 ul a {
     color: white;
 }

 .text2 {
     margin-left: 50px;
 }

 .text2 a {
     color: white;
 }

 .text2 ul {
     list-style: none;
 }

 .all_box {
     font-size: 15px;
     margin: 50px;
     margin-left: 140px;
 }

 .Goods {
     margin-left: 140px;
 }

 .film {
     margin-left: 140px;
 }